<section class="twofa">
    <header class="top-2fa">
        <article class="qr-scan">
            <h2>Scan code</h2>
            <figure class="qr-image">
                <img src="<%= qrCodeUrl %>" alt="QR code for 2FA" width="215" height="215" />
            </figure>
        </article>

        <article class="qr-data">
            <div class="qr-data--item">
                <h3>
                    <%= manualCode %>
                </h3>
                <p>
                    If you are unable to scan the QR code, please enter this code manually into the app.
                </p>
            </div>
            <div class="qr-data--item">
                <p>
                    Use
                    <a href="https://authenticator.cc" target="_blank" rel="noopener noreferrer">
                        Google Authenticator
                    </a>
                    app to scan the code, then enter the six-digit code provided by the app into the form below.
                </p>
            </div>
            <div class="app-links">
                <% storeLinks.forEach(link=> { %>
                    <a href="<%= link.href %>" target="_blank" rel="noopener noreferrer" class="item">
                        <% if(link.imgDark && link.imgLight) { %>
                            <img class="app-qr-dark" src="<%= link.imgDark %>" alt="App Store Dark" />
                            <img class="app-qr-light" src="<%= link.imgLight %>" alt="App Store Light" />
                            <% } else { %>
                                <img src="<%= link.img %>" alt="App Store" />
                                <% } %>
                    </a>
                    <% }) %>
            </div>
        </article>
    </header>

    <section class="code-qr">
        <h2>Enter six-digit code</h2>
        <form class="code-qr-content" onsubmit="return false;">
            <ul class="form-list-one-cell">
                <% for(let i=1; i <=6; i++) { %>
                    <li>
                        <input id="code_<%= i %>" name="code_<%= i %>" type="text" inputmode="numeric" pattern="[0-9]*"
                            maxlength="1" required />
                    </li>
                 <% } %>
            </ul>

            <div class="action-modal">
                <button type="submit" class="default-button button-accent" id="connect_google_2fa">
                    <p>Enable</p>
                </button>
            </div>
        </form>
    </section>
</section>