<div class="account-setting">
    <div class="avatar-account">
        <div class="avatar-img">
            <img src="<%= avatarSrc || '' %>" alt="User avatar" class="avatar-img">
        </div>
        <div class="action-avatar">
            <label class="default-button button-accent-outline">
                <input type="file" accept="image/png,image/jpeg" id="profile_photo_input" hidden>
                <p>Upload New</p>
            </label>
            <button type="button" id="remove_profile_photo" class="default-button button-inactive-alt">
                <p>Delete avatar</p>
            </button>
        </div>
    </div>

    <form class="fill-account" onsubmit="return false;">
        <ul class="form-list">
            <li>
                <label for="username_input">Username</label>
                <input id="username_input" value="<%= username || '' %>" type="text" class="default-input">
            </li>

            <li>
                <p>Email</p>
                <div class="input-type-fill">
                    <p>
                        <%= email || '' %>
                    </p>
                </div>
            </li>

            <li>
                <p>Account status</p>
                <div class="input-type-fill not_verified">
                    <p>
                        <%= accountStatus || 'Default' %>
                    </p>
                </div>
            </li>

            <li>
                <p>2FA</p>
                <div class="input-type-fill not_verified">
                    <p>
                        <%= twoFAStatus || 'Disabled' %>
                    </p>
                </div>
            </li>

            <li>
                <p>ID verification</p>
                <div class="input-type-fill not_verified">
                    <p>
                        <%= idVerification || 'Not verified' %>
                    </p>
                </div>
            </li>
        </ul>

        <div class="actions">
            <button type="submit" class="default-button button-b" id="update_username">
                <p>Update Profile</p>
            </button>
        </div>
    </form>

</div>