<section  class="account-setting">
    <div class="avatar-account">
        <div class="avatar-img">
            <img src="<%= avatarSrc || '' %>" alt="User avatar" class="avatar-img">
        </div>
        <div class="action-avatar">
            <label class="default-button button-accent-outline">
                <input type="file" accept="image/png,image/jpeg" id="profile_photo_input" hidden>
                <p>Upload New</p>
            </label>
            <button type="button" id="remove_profile_photo" class="default-button button-inactive-alt">
                <p>Delete avatar</p>
            </button>
        </div>
    </div>

    <form class="fill-account" onsubmit="return false;">
        <ul class="form-list">
            <li>
                <div class="form-item-default">
                    <label for="username_input">Username</label>
                    <input id="username_input" name="username" value="<%= username || '' %>" type="text">
                </div>
            </li>

            <li>
                <div class="form-item-default">
                    <label for="email_input">Email</label>
                    <input id="email_input" name="email" value="<%= email || '' %>" type="email">
                </div>
            </li>

            <li>
                <div class="form-item-default">
                    <label for="account_status_input">Account status</label>
                    <input id="account_status_input" name="accountStatus" value="<%= accountStatus || 'Default' %>" type="text" disabled>
                </div>
            </li>

            <li>
                <div class="form-item-default">
                    <label for="twofa_status_input">2FA</label>
                    <input id="twofa_status_input" name="twoFAStatus" value="<%= twoFAStatus || 'Disabled' %>" type="text" disabled>
                </div>
            </li>

            <li>
                <div class="form-item-default">
                    <label for="id_verification_input">ID verification</label>
                    <input id="id_verification_input" name="idVerification" value="<%= idVerification || 'Not verified' %>" type="text" disabled>
                </div>
            </li>
        </ul>

        <div class="actions">
            <button type="submit" class="default-button button-accent" id="update_username">
                <p>Update Profile</p>
            </button>
        </div>
    </form>
</section>