<section class="primary-balance">
    <header class="header-balance">
        <div class="balance-info">
            <h3>Total Balance</h3>
            <div class="balance-currency">
                <h2>1.91450666 BTC</h2>
                <span style="background: #FF9F38;">BTC</span>
            </div>
            <p class="balance-usd">200967.35 $</p>
        </div>
        <div class="balance-actions">
            <button type="button" class="default-button button-accent">
                <i class="icon icon-withdraw"></i>
                Withdraw
            </button>
            <button type="button" class="default-button button-muted ">
                <i class="icon icon-deposit"></i>
                Deposit
            </button>
        </div>
    </header>

    <div class="addition-balance">
        <ul class="balance-list">
            <% balancesList.forEach(balance=> { %>
                <li>
                    <img src="<%= balance.imgSrc %>" alt="<%= balance.imgAlt %>" class="balance-image" />
                    <div class="item-balance-data">
                        <h3>
                            <%= balance.title %>
                        </h3>
                        <h2>
                            <%= balance.cryptoAmount %>
                        </h2>
                        <p class="fiat-amount">
                            <%= balance.fiatAmount %>
                        </p>
                    </div>
                </li>
                <% }) %>
        </ul>
    </div>
</section>