<div class="profile-settings">
    <header class="head--profile-settings">
        <div class="head-title">
            <h2>Account Settings</h2>
            <button type="button" class="icon-button button-active" btn-id="close">
                <i class="icon icon-close"></i>
            </button>
        </div>

        <nav class="head-navigate">
            <% profileSettingsData.tabs.forEach(tab=> { %>
                <button
                    class="ui-button <%= profileSettingsData.activeTabId === tab.id ? 'button-active' : 'button-inactive' %>"
                    type="button" profile-settings-nav-id="<%- typeof tab.id==='string' ? tab.id : '' %>">
                    <%= tab.title %>
                </button>
                <% }) %>
        </nav>
    </header>

    <div class="body--profile-settings--content">
        <% profileSettingsData.tabs.forEach(tab=> { %>
            <div class="tab-content" <%=profileSettingsData.activeTabId===tab.id ? 'style=display:block;'
                : 'style=display:none;' %>
                profile-settings-tab-id="<%- typeof tab.id==='string' ? tab.id : '' %>"
                    >
                    <%- include(tab.path, tab.data || {}) %>
            </div>
            <% }) %>
    </div>

</div>